<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  auto-reload="true"
	  internalLogLevel="Info"
	  internalLogFile="c:\temp\internal-log.txt">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"></add>
	</extensions>


	<targets>
		<!-- add your targets here -->

		<target xsi:type="File"
				name="allfile"
				fileName="C:\Users\PCAS1\source\CarAPILogs\nlog-all-${shortdate}.log"
				layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
		<target xsi:type="File"
				name="exceptions"
				fileName="C:\Users\PCAS1\source\CarAPILogs\nlog-all-exceptions-${shortdate}.log"
				layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
		<target xsi:type="File"
				name="warnings"
				fileName="C:\Users\PCAS1\source\CarAPILogs\nlog-all-warnings-${shortdate}.log"
				layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
		<target xsi:type="File"
				name="informations"
				fileName="C:\Users\PCAS1\source\CarAPILogs\nlog-all-infos-${shortdate}.log"
				layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
	</targets>

	<rules>
		<!-- add your logging rules here -->

		<logger name="*" minlevel="Trace" writeTo="allfile" />
		<logger name="CarAPI.*" minlevel="Error" writeTo="exceptions" />
		<logger name="CarAPI.*" minlevel="Warning" writeTo="warnings" />
		<logger name="CarAPI.*" minlevel="Information" writeTo="informations" />

	</rules>
</nlog>